.body-div{
    height: 750px;
    background-color: rgb(21, 35, 57);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 800;
    justify-content: center;
    display: flex;
    align-items: center;
}
