.block__content #AboutUs {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color--text-default);
  width: 100%;
}

/* .background__image {
  background-image: url(../../assets/AboutUs.jpg);
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
} */
