.block__content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color--layout-default);
  color: var(--color--text-default);
  width: 100%;
  min-height: 700px;
}

.content__text {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
