.block__content{
    height: 750px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#light .block__content{
    background-color: white ;
  
}
  
#dark .block__content{
  background-color: #1f2937;
}

#dark .heading__primary {
    color: white;
}

#light .heading__primary{
    color: black;
}

#dark .heading__secondary{
    color: white
}

#light .heading__secondary {
    color: black;
}












.layer2  {
    background-image: url(../assets/layer2.svg);
}

.spacer {
    aspect-ratio: 960/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flip {
    transform: rotate(180deg);
}
.blob-content{
  font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 800;
    text-align: center;

}
/* THIS IS A BLOB TEST CODE: it was supposed to create two blobs in the background that morph into another.
.blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: 0;
  }

  .blob-content {
    z-index: -1;
  }

  .blobs {
    width: 100%;
    background: url('../assets/blob1.svg') no-repeat bottom / cover;
  }
  */