.block__header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color--layout-default);
  color: var(--color--text-dark);
  width: 100%;
  background-image: url(../../assets/header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  fill: var(--color--primary);

  margin-bottom: 0.5rem;
  min-height: 500px;

  &.mode--dark {
    background-image: url(../../assets/header__dark.svg);
  }
}

/* .block__float-light {
  background-color: var(--color--layout-translucent);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} */
