.react-multi-carousel-list {
  width: 100%;
  /* margin-left: -6rem; */
}

#Landing__Products {
  background-color: var(--color--layout-dark);
  padding: 3rem;
  color: var(--color--text-default);
}

.product__heading {
  font-size: 20px;
  margin: 2rem auto;
}
.product__info {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
.product__image {
  height: 12em;
  width: 12em;
  border-radius: 50%;
}

.product__card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 420px;
  margin: 4rem 2rem;
  text-align: left;
  font-family: arial;
}
