.react-multi-carousel-list {
  width: 100%;
}

#Landing__Products {
  background-color: var(--color--layout-dark);
  color: var(--color--text-default);
}

.product__heading {
  font-size: 20px;
  margin: 2rem auto;
  font-family: Maven Pro;
  letter-spacing: 2px;
  text-align: left;
}
.product__info {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-family: Maven Pro;
  margin-bottom: 0.5rem;
}
.product__image {
  height: 12em;
  width: 12em;
  border-radius: 50%;
}

.product__card {
  max-width: 420px;
  margin: 4rem 2rem;
  text-align: left;
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
