.section__padding{
    padding: 4rem 4rem;

}

#dark .footer {
    background-color: #1f2937;
}
#light .footer{
    background-color: #e5e7eb;
  }
  

.footer {
    display: flex;
    flex-direction: column;
}


.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

#dark .footer-links-div{
    width: 150px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}
#light .footer-links-div{
    width: 150px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
}

#dark .link__standard {
    color: white;
    text-decoration: none;
}

#light .link__standard {
    color: rgb(0, 0, 0);
    text-decoration: none;
}



#dark .footer{
    background-color: rgb(35, 35, 35);
  }
  
  #light .footer-links-heading{
    color: black;
  }

.footer-links {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.footer-links-div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem;
    cursor: pointer;
}

.footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

#dark .copyright-info{
    color: rgb(255, 255, 255);
}

#light .copyright-info{
    color: black;
}

.footer-below-links {
    display: flex;
    flex-direction: row;
}

#dark .legal-links {
    font-size: 12px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;

}
#light .legal-links {
    font-size: 12px;
    line-height: 15px;
    margin-left: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 600;

}

.footer-divider{
    color: rgb(255, 255, 255);
    width: 100%;
}

.footer-copyright p {
    font-size: 12px;
    line-height: 15px;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 850px){
    .footer-heading h1{
        font-size: 44px;
        line-height: 50px;

    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .footer-links div{
        margin: 1rem 0;

    }
    .footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }
    .footer-below{
        flex-direction: column;
        justify-content: left;
    }
    .footer-below-links{
        flex-direction: column;
    }
    .footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width:400px) {
    .footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }


}